/* CSS 애니메이션 */
@keyframes slideUp {
    0% {
        transform: translateY(100%);
        /* 아래에서 시작 */
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        /* 원래 위치로 */
        opacity: 1;
    }
}

.headline h1,
.headline h2 {
    animation: slideUp 0.5s ease forwards;
    /* 애니메이션 적용 */
    opacity: 0;
}

article {
    width: 800px;
    height: 40px;
    display: flex;
    flex-direction: row;
    gap: 5px;
    justify-content: center;
    align-items: center;

    div {
        width: 390px;
        height: 32px;
        display: flex;
        flex-direction: row;
        align-items: center;
        padding-left: 10px;
        font-family: sans-serif;
        border: 1px solid rgb(212, 217, 222);
        background-color: rgb(247, 247, 249);
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        cursor: pointer;
    }

    h1 {
        width: 50px;
        height: auto;
        font-size: 11px;
        font-weight: 600;
    }

    h2 {
        width: 330px;
        height: auto;
        font-size: 10px;
        font-weight: 400;
        color: rgb(82, 89, 102);
    }

    div:hover h2 {
        text-decoration: underline;
    }
}